[submodule "digitalniweb-types"]
	path = digitalniweb-types
	url = https://github.com/digitalniweb/digitalniweb-types.git
[submodule "digitalniweb-custom"]
	path = digitalniweb-custom
	url = https://github.com/digitalniweb/digitalniweb-custom.git
